.Navigation-Bar {
    background: #1F6097;
    padding: 15px 0px;
    height: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#Nav-Logo {
    float: left;
    position: relative;
    left: 35px;
}

#Filters-Button {
    float: right;
    position: relative;
    right: 40px;
    bottom: 6px;
}

#Voting-Btn {
    float: right;
    position: relative;
    right: 35px;
    bottom: 6px;
    margin-right: 10px;
}

#Logo-Image {
    height: 40px;
    width: auto;
    position: relative;
    bottom: 5px;
}

#App-Title {
    font-weight: bold;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    bottom: 17px;
    left: 15px;
}