Button {
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 15px;
    width: 170px;
    border-radius: 20px;
    font-family: 'Quicksand';
    border: none;
    outline: 0;
    font-size: 13px;
}

Button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: 0.4s transform;
}

.Button1 {
    background-color: #1daafc;
    color: white;
}

Button:disabled {
    background-color: white;
    cursor: not-allowed;
    color: grey;
    border: 1px solid grey;
}