Button {
    font-weight: bold;
    text-transform: capitalize;
    padding: 12px 0px;
    width: 140px;
    border-radius: 3px;
    font-family: 'Quicksand';
    border: none;
    outline: 0;
    font-size: 14px;
}

Button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: transform 0.1s;
}

.Button1 {
    background-color: #ffc107;
    color: black;
}

.Button2 {
    background-color: #D7385E;
    color: white; 
}

.Button3 {
    background-color: #4F43FF;
    color: white
}

.Button4 {
    background: transparent;
    border: 1px solid lightgrey;
    color: lightgrey;
}

.Button4:hover {
    border: 1px solid #ffc107;
    color: #ffc107;
    transform: none;
}


Button:disabled {
    background-color: white !important;
    cursor: not-allowed !important;
    color: grey !important;
    border: 1px solid grey !important;
}

.Hide {
    display: none;
}