Button {
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 15px;
    width: 160px;
    border-radius: 20px;
    font-family: 'Poppins';
    border: none;
    outline: 0;
}

Button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: 0.4s transform;
}

.Button1 {
    background-color: #1daafc;
    color: white;
}