.Movie-Voting-Container {
    height: 100vh;
    width: 50%;
    display: inline-block;
    background-size: cover;
    background-position: center;
}

.Movie-Voting-Poster {
    height: 70vh;
    border-radius: 20px;
    cursor: pointer;
}

.Left-Movie .Movie-Voting-Details {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.Right-Movie .Movie-Voting-Details {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(50%, -50%);
}

.Timer {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.0em;
}

.Movie-Counter {
    position: absolute;
    right: 1%;
    bottom: 2%;
    font-weight: bold;
}

.Movie-Counter-Current {
    color: white;
    font-size: 1.25em;
}

.Movie-Counter-Divider {
    color: grey;
    margin: 5px;
}

.Movie-Counter-Total {
    color: #1daafc;
    font-size: 1.25em;
}