#Winner-Poster {
    height: 75vh;
    width: auto;
    border-radius: 10px;
}

.Winner-Poster-Container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Animation-1 {
    position: absolute;
    top: 10%;
    left: 2%;
}

#Animation-2 {
    position: absolute;
    top: 30%;
    right: 5%;
}

#Winner-Btns-Container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 3%;
}

#Winner-Btns-Container button {
    margin-left: 5px;
    margin-right: 5px;
}

#Winner-Backdrop {
    height: 100vh;
}

#Enjoy-Show-Header {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0);
}