
.Movie-Backdrop {
    background-color: black;
}

.Movie-Backdrop-Overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.70);
}

#Movie-Container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2%;
    border-radius: 40px;
    width: 60%;
    background: transparent;
    color: white;
}

#Home-Button {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#Movie-Poster {
    height: 60vh;
    width: auto;
    border-radius: 10px;
    float: right;
    margin-right: 30px;
}

#Movie-Poster-Container {
    float: left;
    width: 50%;
}

#Movie-Details-Container {
    float: right;
    width: 50%;
    text-align: left;
}

#Movie-Details-Container h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    font-size: 2.0em;
    position: relative;
    bottom: 10px
}

#Trailer-Button {
    font-weight: bold;
    margin-right: 10px;
}

.Rating-Progress-Bar {
    width: 40px !important;
}

.CircularProgressbar-text {
    font-weight: bold;
}

#Genres {
    color: white;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0px;
}

.Genre-Divider {
    color: grey;
}

#Movie-Overview {
    letter-spacing: 0.5px;
    line-height: 22px;
}

#Runtime {
    margin-top: 5px;
    color: lightgrey;
}

.Trailer-Iframe {
    width: 100%;
    height: 100vh;
}