body {
  margin: 0;
  font-family: 'Quicksand' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#Home {
  margin-top: 60px;
  padding-top: 1%;
  padding-left: 2%;
}

code {
  font-family: 'Quicksand' !important;
}




#root {
  color: white;
  background-color: #032541;
}
