body {
  margin: 0;
  font-family: 'Quicksand' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#Home {
  margin-top: 60px;
}

code {
  font-family: 'Poppins' !important;
}




#root {
  color: white;
  background-color: #032541;
  /*
  background: url('https://i.imgur.com/tcgVHdh.png');
  height: 100vh;
  background-position: 0px 0px;
  background-repeat: repeat;
  background-size: cover;


    animation: animatedBackground 60s linear infinite;
    */
}

/*
@keyframes animatedBackground {
  from {
    background-position: 0% 0;
  }
  to {
    background-position: 100% 0;
  }
}
*/